Etape2_Structure/Minimum/padchest_images.dtd

<!-- ============================================================ -->
<!-- DTD pour la base de donnees PadChest                        -->
<!-- Definit la structure valide du fichier XML genere           -->
<!-- ============================================================ -->

<!-- Element racine : contient une ou plusieurs images -->
<!ELEMENT padchest_database (image+)>

<!-- 
  Element image : contient toutes les informations d'une image
  Attribut id : identifiant unique de l'image (obligatoire)
-->
<!ELEMENT image (study_id, patient_id, birth_year, projection, method_projection, pediatric, report_id, report, method_label, labels, localizations, labels_by_sentence)>
<!ATTLIST image id CDATA #REQUIRED>

<!-- Study ID : identifiant de l'etude medicale -->
<!ELEMENT study_id (#PCDATA)>

<!-- Patient ID : identifiant du patient -->
<!ELEMENT patient_id (#PCDATA)>

<!-- Birth year : annee de naissance du patient -->
<!ELEMENT birth_year (#PCDATA)>

<!-- Projection : type de projection radiographique -->
<!ELEMENT projection (#PCDATA)>

<!-- Method projection : methode utilisee pour la projection -->
<!ELEMENT method_projection (#PCDATA)>

<!-- Pediatric : indique si c'est un patient pediatrique -->
<!ELEMENT pediatric (#PCDATA)>

<!-- Report ID : identifiant du rapport medical -->
<!ELEMENT report_id (#PCDATA)>

<!-- Report : texte du rapport medical -->
<!ELEMENT report (#PCDATA)>

<!-- Method label : methode d'etiquetage utilisee -->
<!ELEMENT method_label (#PCDATA)>

<!-- 
  Labels : liste des etiquettes medicales 
  Peut contenir 0 ou plusieurs elements <label>
-->
<!ELEMENT labels (label*)>
<!ELEMENT label (#PCDATA)>

<!-- 
  Localizations : liste des localisations anatomiques
  Peut contenir 0 ou plusieurs elements <localization>
-->
<!ELEMENT localizations (localization*)>
<!ELEMENT localization (#PCDATA)>

<!-- 
  Labels by sentence : structure imbriquee
  Contient 0 ou plusieurs <sentence>
  Chaque <sentence> contient 0 ou plusieurs <item>
-->
<!ELEMENT labels_by_sentence (sentence*)>
<!ELEMENT sentence (item*)>
<!ELEMENT item (#PCDATA)>